.main {
    display: flex;
    margin: 20px;
}

.column {
    flex: 50%;
}

.plot {
    position: relative;
    width: 100%;
    max-width: 500px;
    aspect-ratio: 1;
    border: 1px solid black;
    border-top: none;
    border-right: none;
}

.point {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 5px;
}

.input-group {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

.coordinate {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

.input-group .coordinate {
    margin-right: 4px;
}

.coordinate label {
    margin-right: 1px;
    text-transform: uppercase;
}

.addButton {
    align-self: end;
}

.hatch {
    position: absolute;
}

.hatch h {
    position: absolute;
    height: 10px;
    border-right: 1px solid black;
}