.main {
    display: flex;
}

.column {
    flex: 50%;
}

.plot {
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    border: 1px solid black;
}

.point {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 5px;
}